name: Slack Notification
on:
  workflow_call:
    inputs:
      image_tag:
        description: "Tag of docker image to deploy"
        required: true
        type: string
      namespace:
        description: "Kubernetes namespace to deploy resources in"
        required: false
        default: api
        type: string
      dashboard_url:
        description: "url to deployment dashboard"
        required: false
        type: string
      apm_url:
        description: "url to service APM"
        required: false
        type: string
        default: ""
    secrets:
      slack_webhook_url:
        required: true

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Build message text
        id: build-message
        run: |
          BASE_TEXT="*${{ github.event.repository.name }} deployed by ${{ github.triggering_actor }}*"
          if [ -n "${{ inputs.apm_url }}" ]; then
            MESSAGE_TEXT="${BASE_TEXT}\n\tView the <${{ inputs.apm_url }}|Service APM>"
          else
            MESSAGE_TEXT="${BASE_TEXT}"
          fi
          echo "message_text<<EOF" >> $GITHUB_OUTPUT
          echo "$MESSAGE_TEXT" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT
      - name: Send deployment notification
        uses: slackapi/slack-github-action@v1.24.0
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.slack_webhook_url }}
          SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK
        with:
          payload: |
            {
              "text": "${{ github.event.repository.name }} deployed",
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "${{ steps.build-message.outputs.message_text }}"
                  },
                  "accessory": {
                    "type": "button",
                    "text": {
                      "type": "plain_text",
                      "text": "${{ inputs.image_tag }}"
                    },
                    "url": "${{ github.server_url }}/${{ github.repository }}/releases/tag/${{ inputs.image_tag }}"
                  }
                }
              ]
            }
